<h2 mat-dialog-title>Configurações</h2>

<mat-dialog-content>
  <mat-tab-group>
    
    <!-- TAB AJUSTES -->
    <mat-tab label="Ajustes Gerais">
      <div class="tab-content">
        <p>Ajustes gerais do sistema financeiro.</p>
      </div>
    </mat-tab>

    
    <!-- TAB DADOS -->
    <mat-tab label="Dados">
      <div class="tab-content actions">

        <button
          mat-raised-button
          color="primary"
          class="action-button"
          (click)="importData()"
        >
          <mat-icon>upload</mat-icon>
          Importar
        </button>

        <button
          mat-raised-button
          color="accent"
          class="action-button"
          (click)="exportData()"
        >
          <mat-icon>download</mat-icon>
          Exportar
        </button>

        <!-- input escondido -->
        <input
          type="file"
          #fileInput
          accept=".json"
          (change)="handleFile($event)"
          hidden
        />

      </div>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>