<h2 mat-dialog-title>Configurações</h2>

<mat-dialog-content>
  <mat-tab-group>
    <!-- TAB AJUSTES -->
    <mat-tab label="Ajustes Gerais">
      <div class="tab-content">
        <p>Ajustes gerais do sistema financeiro.</p>
      </div>
    </mat-tab>

    <!-- TAB DADOS -->
    <mat-tab label="Dados">
      <div class="tab-content">
        <button mat-raised-button color="primary">Importar</button>

        <button mat-raised-button color="accent">Exportar</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
