<h2 mat-dialog-title>Registro Financeiro</h2>

<mat-dialog-content>
  <br>
  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput type="date" [(ngModel)]="row.date" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mês Sequencial</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.sequencial_month"
        (ngModelChange)="calculateStartMonth()"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cotas início mês</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.quotas_start_month"
        (ngModelChange)="calculateMonthProvent()"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor da cota</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.quotas_value"
        (ngModelChange)="calculatePurchaseValue()"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cotas compradas</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.purchased_quotas"
        (ngModelChange)="calculatePurchaseValue()"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor compra</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.value_purchased_quotas"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Dividendo</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.unit_proven"
        (ngModelChange)="calculateMonthProvent()"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Provento do mês</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.month_value_provent"
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cotas compradas com provento</mat-label>
      <input matInput type="number" [(ngModel)]="row.purchased_quotas_proven" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor C. Compradas Proventos</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="row.value_purchased_quotas_proven"
      />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Salvar</button>
</mat-dialog-actions>
