<mat-sidenav-container class="sidenav-container" [hasBackdrop]="isMobile">
  <!-- MENU -->
  <mat-sidenav #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <h3 class="menu-title">Fundos e Ações</h3>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let table of tables"
        (click)="selectTable(table); drawer.close()"
        class="menu-item"
      >
        {{ table.name }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- CONTEÚDO -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar-content">
        <div class="toolbar-left">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span class="toolbar-title">
            {{ selectedTable?.name }}
          </span>
        </div>

        <div class="toolbar-right">
          <!-- BOTÃO CONFIGURAÇÕES -->
          <button
            mat-icon-button
            (click)="openConfig()"
            matTooltip="Configurações"
          >
            <mat-icon>settings</mat-icon>
          </button>

          <!-- BOTÃO NOVA TABELA -->
          <button
            mat-icon-button
            color="accent"
            (click)="addTable()"
            matTooltip="Nova Tabela"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>

    <div class="container">
      <mat-card class="financial-card mat-elevation-z4" *ngIf="selectedTable">
        <mat-card-content>
          <app-table-financial [data]="selectedTable"></app-table-financial>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
