<mat-sidenav-container class="sidenav-container" [hasBackdrop]="isMobile">
  <!-- MENU -->
  <mat-sidenav
    #drawer
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="sidenav"
  >
    <div class="sidenav-content">
      <h3 class="menu-title">Fundos e Ações</h3>

      <mat-nav-list>
        <mat-list-item
          *ngFor="let table of tables"
          (click)="selectTable(table); drawer.close()"
          (keydown.enter)="selectTable(table); drawer.close()"
          (keydown.space)="selectTable(table); drawer.close()"
          tabindex="0"
          class="menu-item"
        >
          <div class="menu-content">
            <span class="menu-text">{{ table.name }}</span>

            <div class="menu-actions">
              <button
                mat-icon-button
                color="primary"
                matTooltip="Editar Tabela"
                (click)="openEditDialog(table); $event.stopPropagation()"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                color="warn"
                matTooltip="Deletar Tabela"
                (click)="openDeleteDialog(table); $event.stopPropagation()"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-nav-list>

      <!-- FOOTER FIXO -->
      <div class="menu-footer">
        <mat-divider></mat-divider>

        <div class="dev-info">
          <span class="dev-name">Dev. Gabriel M. Santos</span>

          <div class="dev-links">
            <a
              href="https://gabrielmsantos.com.br"
              target="_blank"
              matTooltip="Acessar site"
            >
              <mat-icon>language</mat-icon>
            </a>

            <a
              href="https://github.com/gabrielMarinhocd/financial-control"
              target="_blank"
              matTooltip="Repositório no GitHub"
            >
              <mat-icon>code</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <!-- CONTEÚDO -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar-content">
        <div class="toolbar-left">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <span class="toolbar-title">
            {{ selectedTable?.name }}
          </span>
        </div>

        <div class="toolbar-right">
          <button
            mat-icon-button
            color="accent"
            (click)="toggleRecording()"
            [matTooltip]="
              isRecording ? 'Parar gravação' : 'Pesquisar por áudio'
            "
          >
            <mat-icon>
              {{ isRecording ? "stop" : "mic" }}
            </mat-icon>
          </button>

          <button
            mat-icon-button
            (click)="openConfig()"
            matTooltip="Configurações"
          >
            <mat-icon>settings</mat-icon>
          </button>

          <button
            mat-icon-button
            color="accent"
            (click)="addTable()"
            matTooltip="Nova Tabela"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>

    <div class="container">
      <mat-card class="financial-card mat-elevation-z4" *ngIf="selectedTable">
        <mat-card-content>
          <app-table-financial [data]="selectedTable"></app-table-financial>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
