/* ===== HEADER CARD ===== */
mat-card-header {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.financial-card {
  margin-bottom: 16px;
}

/* ===== TABELA ===== */
.mat-table {
  width: 100%;
  min-width: 1200px;
}

.mat-header-cell {
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
}

.mat-cell {
  font-size: 13px;
  white-space: nowrap;
}

.compact-field {
  width: 110px;
  margin: 0;

  --mdc-outlined-text-field-container-height: 24px;
}

.compact-field .mat-mdc-form-field-wrapper,
.compact-field .mat-mdc-form-field-flex,
.compact-field .mat-mdc-form-field-infix {
  padding: 0 !important;
  margin: 0 !important;
  min-height: unset !important;
  height: 24px !important;
  align-items: center !important;
}

.compact-field input.mat-mdc-input-element {
  padding: 0 2px !important;
  margin: 0 !important;
  height: 20px !important;
  font-size: 12px;
  line-height: 1;
}

.compact-field .mat-mdc-select-trigger {
  padding: 0 2px !important;
  font-size: 12px;
  height: 20px !important;
  line-height: 1;
}

.compact-field .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

tr.mat-row:hover {
  background: #f5f5f5;
}

.mat-elevation-z8 {
  overflow-x: auto;
}
.financial-card {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
}

.financial-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.financial-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.separator {
  margin: 0 0.3rem;
  color: rgba(0, 0, 0, 0.6);
}

button[mat-mini-fab] {
  width: 32px;
  height: 32px;
  min-width: 32px;
  line-height: 32px;
  font-size: 18px;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .compact-field {
    width: 90px;
    --mdc-outlined-text-field-container-height: 22px;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 11px;
  }

  .compact-field input.mat-mdc-input-element,
  .compact-field .mat-mdc-select-trigger {
    font-size: 11px;
    height: 18px;
  }

  .financial-title {
    font-size: 1.2rem;
  }
}
